body{
    margin: 0;
    padding: 0;
}

.character-sheet div {
    width: 10%;
    height: 100px;
    margin-left: 1%;
    margin-top: 10px;
    background-color: red;
    float: left;
}

.character-sheet{
}


.menu-item{
    margin-top: 10px;
    background-color: lightblue;
}
